<body class="background-sign-in">
    <%= render "devise/shared/error_messages", resource: resource %>
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {multipart: :true, class:"container-form needs-validation"}) do |f| %>
                    <h2 class="header-h1">Créer un compte</h2>
                    <!-- <%= render "devise/shared/error_messages", resource: resource %> -->
                    <div class="social-container">
                        <%= link_to user_facebook_omniauth_authorize_path do%>
                            <i class="fa fa-facebook-f fa-2x"></i>
                            <%end%>

                                <a href="<%= user_google_oauth2_omniauth_authorize_path %>"><i class="fa fa-google-plus-g fa-2x"></i></a>
                    </div>
                    <span class="message-connection">ou utilisez votre e-mail pour vous inscrire</span>
                    <!-- <input type="text" placeholder="Name" class="form-input" /> -->
                    <!-- <input type="email" placeholder="Email" class="form-input" /> -->

                    <%= f.text_field :username, autofocus: true, autocomplete: "username",placeholder:"Non d'utilisateur", class:"form-input" %>
                        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name",placeholder:"Nom", class:"form-input" %>
                            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name",placeholder:"Prénom", class:"form-input" %>
                                <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number",placeholder:"Numéro de télèphone", class:"form-input" %>
                                    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Email", class:"form-input" %>

                                        <!-- <input type="password" placeholder="Password" class="form-input" /> -->
                                        <%= f.password_field :password, autocomplete: "new-password",placeholder:"Password", class:"form-input" %>
                                            <% if @minimum_password_length %>
                                                <em>(<%= @minimum_password_length %> characters minimum)</em>
                                                <% end %><br />

                                                    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"Confirmation Password", class:"form-input" %>

                                                        <!-- <button class="connection-btn all-btn">Sign Up</button> -->
                                                        <%= f.submit "S'inscrire", class:"connection-btn all-btn" %>
                                                            <% end %>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        <h1 class="header-h1">Nous saluons le retour!</h1>
                        <p class="para-container">Pour rester connecté avec nous, veuillez vous connecter avec vos informations personnelles</p>
                        <!-- <%= link_to "Se connecter",new_user_registration_path, :class =>"ghost all-btn", :id =>"signIn"%> -->
                        <a href="/users/sign_in"><button class="ghost all-btn" id="signIn">Se connecter</button></a>

                    </div>
                </div>
            </div>
        </div>
</body>