<!-- bouclage de card -->
<div class="col-md-4">
    <div class="el-wrapper" style=" border-color: <%=item.color%> ">
        <div class="box-up">
            <!-- <img class="img" src="<%=item.picture%>" alt=""> -->
            <div class="img-box">
                <%=image_tag item.picture, class:"subscription-size-picture" %>
            </div>
            <div class="img-info">
                <div class="info-inner">
                    <span class="p-name"><%= item.name%></span>
                </div>
                <div class="a-size">
                    <ul class="list-unstyled mt-3 mb-4">
                        <% item.subscription_privilege.each do |priv| %>
                            <li>
                                <%= priv.privilege%>
                            </li>
                            <%end%>
                    </ul>
                </div>
            </div>
        </div>

        <div class="box-down">
            <div class="h-bg">
                <div class="h-bg-inner"></div>
            </div>

            <a class="cart" href="/users/sign_up?subscription_id=<%= item.id%>">
                <span class="price"><%= number_to_currency(item.price.to_i, unit: "MGA", delimiter: " ", format: "%n %u") %>/mois</span>
                <span class="add-to-cart">
                          <span class="txt"> S'inscrire comme <%= item.name%> </span>
                </span>
            </a>
        </div>
    </div>
</div>