<%= form_with(model: category_dish, local: true, url:(category_dish.persisted? ? admin_site_category_dish_path(category_dish) : admin_site_category_dishes_path )) do |form| %>
  <% if category_dish.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(category_dish.errors.count, "error") %> prohibited this category_dish from being saved:</h2>
      <ul>
        <% category_dish.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
          <% end %>
      </ul>
    </div>
    <% end %>
      <%= form.label :name do %>
        Type de plat <span style="color:red;">*</span>:
        <% end %>
          <%= form.select :type_id, all_types_dishes.collect { |category_dish| [category_dish.name, category_dish.id]} ,class:'form-control' %>
            <br>
            <br>
            <%= form.label :name do %>
              Nom de la nouvelle catégorie de plat <span style="color:red;">*</span>:
              <% end %>
                <%= form.text_field :name, class:'form-control' %>
                  <br>
                  <br>
                  <%= form.label :password do %>
                    Mot de passe<span style="color:red;">*</span>:
                    <% end %>
                      <%= form.password_field :password, class:'form-control' %>
                        <br>
                        <br>
                        <%= form.submit :valider, class:"btn btn-primary" %>

                          <% end %>