<tr>
    <td data-th="Product">
        <!-- <div class="row"> -->
        <a href="<%=dish_path(item.id)%>">
            <%= image_tag item.picture, alt:"menu-dish",class: "img" %>
                <!-- </div> -->
        </a>
    </td>

    <td data-th="title">
        <p>
            <%= item.name %>
        </p>
    </td>

    <td class="hidden-xs">
        <%= item.description %>
    </td>

    <td data-th="Price">
        <%= item.price %> MGA</td>

    <td><a href="<%= line_item_create_path(item.id) %>" data-method="post"><span class="box">Commander</span></a></td>

</tr>