<li>
    <div>
        <%= image_tag item.logo, alt:"menu-dish" %>
            <a href="<%=restaurant_path(item.id)%>">
                <div>
                    <img src="/assets/plus-icon.png" alt="plus-icon">
                    <p>Click pour en savoir plus</p>
                </div>
            </a>
    </div>
    <h5>
        <%= item.name %>
        <div>
            <%= link_to like_restaurant_path(item), method: :put do %>
                <i class= "fa fa-thumbs-up fa-2x" ></i>
            <% end %>
            <%= link_to dislike_restaurant_path(item), method: :put do %>
                <i class= "fa fa-thumbs-down fa-2x" ></i>
            <% end %>
            <br>
            <%= item.get_upvotes.size %> &nbsp&nbsp&nbsp&nbsp<%= item.get_downvotes.size %>
        </div>
    </h5>
    
</li>