<li>
    <div>
        <%= image_tag item.picture, alt:"menu-dish" %>
            <a href="<%=dish_path(item.id)%>">
                <div>
                    <img src="<%= image_path('plus-icon.png') %>" alt="plus-icon">
                    <p>Click to enlarge</p>
                </div>
            </a>
    </div>
    <img src="<%= image_path(item.category_dish.type.icon) %>">
    <h5>
        <%=item.name%>
    </h5>
    <p>
        <%=item.restaurant.name%>
    </p>
    <p>
        <%=item.price%> MGA
    </p>
    <p>
        <div class="like-jaime">
            <%= link_to like_dish_path(item), method: :put do %>
                <i class="fa fa-thumbs-up fa-2x"></i>
                <% end %>
                    <%= link_to dislike_dish_path(item), method: :put do %>
                        <i class="fa fa-thumbs-down fa-2x"></i>
                        <% end %>
                            <br>
                            <%= item.get_upvotes.size %> &nbsp&nbsp&nbsp&nbsp
                                <%= item.get_downvotes.size %>
        </div>
    </p>
</li>