<section id="blog">
    <div class="container">
        <div class="row col-12">
            <div class="col-md-8">
                <%= image_tag("")%>
            </div>
            <div class="col-md-4">
                <%= content_tag(:h1, "Nom du plat",:class => "title-dish") %>
                    <%= content_tag(:h2, "Nom du Resto associer")%>
                        <%= content_tag(:h3, "Description:",:class => "title-dish")%>
                            <%= content_tag(:p, "lorem bla bla bbablablablablabalablabalalal")%>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-md-8">
                <%= content_tag(:h3 ,"Price :",:class => "title-dish-price")%>

            </div>
        </div>
    </div>
</section>