    <section id="popular-dishes">
    <div class="row">
        <div class="col-sm-12">
            <div class="row ml-2">    
                <h6 style= "color: orange" class = "raccourci mt-4">Types de plats:</h6>
                <%= render 'speedsearchtype', item: @types%>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row ml-2">    
                <h6 style= "color: orange" class = "raccourci mt-4">Categories de plats:</h6>
                <%= render 'speedsearch', item: @categories%>
            </div>
        </div>
        <div class="col-sm-12">
            <h2 class=" center-title-categirie">
                <%=@category.type.name%> :
                    <%=@category.name%>
            </h2>
            <ul class="dishes">
                <% @category.dishes.order(:cached_votes_down).each do |dish|%>
                    <%= render 'dish', item: dish%>
                        <%end%>
            </ul>
        </div>
        </div>
    </section>