<div class="row" style="background: white;">
  <div class=" col-sm-12 ">
    <h2>Cart show</h2>
    <ul style="color: black">
      <% @cart.list_item_not_to_order.each do |line_item| %>
        <li>Item:
          <%= line_item.dish.name %>/ Price:
            <%= number_to_currency(line_item.dish.price) %>/ Quantity:
              <%= line_item.quantity %>/ Total Price:
                <%= number_to_currency(line_item.total_price) %>
                  # See lineItem section below for explanation of line_item links
                  <ul>
                    <li>
                      <%= link_to "Add one ", line_item_add_path(:id => line_item), method: :post %>
                        <%= link_to "Reduce one ", line_item_reduce_path(:id => line_item), method: :post %>
                    </li>
                    <li>
                      <%= link_to "Remove item ", line_item_destroy_path(line_item), method: :delete %>
                    </li>
                  </ul>
                  #
                  <% end %>
    </ul>
    <h3 style="color:black">Sub total:
      <%= number_to_currency(@cart.sub_total) %>
    </h3>
    <a href="<%= to_order_path %>" data-method="post">Passer la commande</a> # See Order section below for explanation of new_order_path
  </div>
</div>