<body class="background-sign-in">
    <div class="container" id="container">
        <!-- <div class="form-container sign-in-container"> -->
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html =>{class:"container-form admin-f-sign"}) do |f| %>
            <h2 class="header-h1 speccial-admin-header">Bon retour parmi nous cher Admnistrateur</h2>

            <%= f.label :email, class:"message-connection" %><br />
                <%= f.email_field :email, autocomplete: "email",class:"form-input" %>


                    <%= f.label :password, class:"message-connection" %><br />
                        <%= f.password_field :password, autocomplete: "current-password",class:"form-input" %>

                            <%= f.submit "Se connecter", class:"connection-btn all-btn" %>
                                <% end %>

                                    <!-- <%= render "admins/shared/links" %> -->
                                    <!-- </div> -->

    </div>
</body>