<aside>

  <!--SOCIAL LINKS-->

  <a href="#">
    <svg x="0px" y="0px" width="150px" height="40px">
					<polygon fill="#2d4c8b" points="150,40 7.001,40 0,33 0,7 6.918,0 150,0 "/>
					<image xlink:href="<%= image_path('facebook.png') %>" x="23" y="10" width="9px" height="18px"/>
					
					<text x="55" y="24">Like Us!</text>
				</svg>
  </a>
  <a href="#">
    <svg x="0px" y="0px" width="150px" height="40px">
					<polygon fill="#34dfe6" points="150,40 7.001,40 0,33 0,7 6.918,0 150,0 "/>
					<image xlink:href="<%= image_path('twitter.png') %>" x="17" y="12" width="23px" height="16px"/>
					<text x="55" y="24">Follow Us!</text>
				</svg>
  </a>
  <a href="#">
    <svg x="0px" y="0px" width="150px" height="40px">
					<polygon fill="#e842ab" points="150,40 7.001,40 0,33 0,7 6.918,0 150,0 "/>
					<image xlink:href="<%= image_path('flickr.png') %>" x="17" y="16" width="18px" height="7px"/>
					<text x="55" y="24">Flickr</text>
				</svg>
  </a>
  <a href="#">
    <svg x="0px" y="0px" width="150px" height="40px">
					<polygon fill="#ff9000" points="150,40 7.001,40 0,33 0,7 6.918,0 150,0 "/>
					<image xlink:href="<%= image_path('rss.png') %>" x="18" y="12" width="16px" height="16px"/>
					<text x="55" y="24">Rss Feed</text>
				</svg>
  </a>
  <a href="#">
    <svg x="0px" y="0px" width="150px" height="40px">
					<polygon fill="#33517f" points="150,40 7.001,40 0,33 0,7 6.918,0 150,0 "/>
					<image xlink:href="<%= image_path('vimeo.png') %>" x="18" y="13" width="17px" height="15px"/>
					<text x="55" y="24">Vimeo</text>
				</svg>
  </a>
</aside>
<!--/SOCIAL LINKS-->

<!--HEADER-->
<header>
  <nav id="main-nav">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="menu.html">Menu</a></li>
      <!-- <li><a href="index.html#contact">Contact</a></li> -->
      <!-- if connected -->
      <% if !current_user %>
        (((
        <li class="sub-items"><a href="#">Connexion</a>
          <ul>
            <li><a href="/connection/index">Se connecter</a></li>
            <li><a href="/connection/index">S'inscrire</a></li>
          </ul>
        </li>))))
        <% else %>
          <!-- if not connected -->
          (((
          <li class="sub-items"><a href="#">Avatar</a>
            <ul>
              <li><a href="menuv2.html">Profils</a></li>
              <li><a href="menuv3.html">Se deconnecter</a></li>
            </ul>
          </li>))))
          <% end %>
    </ul>
    <ul class="responsive-nav">
      <li><a href="index.html">Home</a></li>
      <li><a href="menu.html">Menu</a></li>
      <!-- <li><a href="index.html#contact">Contact</a></li> -->
      <li class="sub-items"><a href="#">Connexion</a>
        <ul>
          <li><a href="menuv2.html">Menu v2</a></li>
          <li><a href="menuv3.html">Menu v3</a></li>
          <li><a href="gallery-3c.html">Gallery 3 Columns</a></li>
          <li><a href="gallery-4c.html">Gallery 4 Columns</a></li>
          <li><a href="blog.html">Blog Left View</a></li>
          <li><a href="blogr.html">Blog Right View</a></li>
        </ul>
      </li>
    </ul>
    <a href="#" id="pull"></a>
  </nav>
  <figure>
    <img src="main-logo.png" alt="Clickeat-logo">
    <figcaption>Mozarrella</figcaption>
  </figure>
  <ul class="main-slider">
    <li class="first">
      <h1>Mozzarella</h1>
      <h6>Get a taste of what you can find in our venue</h6>
      <img src="/assets/slider1-decor.png" alt="stars-moustache">
      <a href="menu.html" target="_blank" class="square-button">Go to our menu</a>
    </li>
    <li class="second">
      <h2>New Recipes</h2>
      <h6>Learn how to cook like a pro in our blog</h6>
      <a href="blog.html" target="_blank" class="square-button">Go to our blog</a>
    </li>
    <li class="third">
      <h2>Meltdown Nachos</h2>
      <h6>We use 4 classes of chesse, jalapeños, cream and magma sauce</h6>
      <a href="menu.html" target="_blank" class="square-button">Go to our menu</a>
    </li>
  </ul>
  <div class="pager-container">
    <a href="" data-slide-index="0"></a>
    <a href="" data-slide-index="1"></a>
    <a href="" data-slide-index="2"></a>
  </div>
</header>
<!--/HEADER-->