<!DOCTYPE html>
<html>

<head>
  <title>Clickeat</title>
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
          <link rel="stylesheet" href="style.css">
          <link rel="stylesheet" href="tooltipster.css">
          <link rel="stylesheet" href="magnific-popup.css">
          <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track': 'reload' %>
              <%= stylesheet_link_tag 'sign_in', media: 'all', 'data-turbolinks-track': 'reload' %>
                <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= yield %>
    <%= javascript_pack_tag 'sign_in', 'data-turbolinks-track': 'reload' %>
</body>

</html>