<!DOCTYPE html>
<html>

<head>
    <title>Clickeat</title>
    <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

            <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
                <!-- <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> -->
                <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
                    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
                        <!-- <link rel="stylesheet" href="style.css">
                            <link rel="stylesheet" href="tooltipster.css">
                            <link rel="stylesheet" href="magnific-popup.css"> -->
</head>

<body>
    <%= yield %>
        <script>
            const signUpButtonNavbar = document.getElementById('signUpInNavbar');
            const container = document.getElementById('container');

            signUpButtonNavbar.addEventListener('click', () => {
                container.classList.add("right-panel-active");
            });

            signInButton.addEventListener('click', () => {
                container.classList.remove("right-panel-active");
            });
        </script>
</body>

</html>