<!DOCTYPE html>
<html>

<head>
  <title>Clickeat</title>
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <!-- aos -->
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
          <!-- Latest compiled and minified CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

          <!-- jQuery library -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

          <!-- Popper JS -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

          <!-- Latest compiled JavaScript -->
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

          <!-- <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
</head>

<body>
  <main>
    <%= render 'layouts/navbar' %>
      <%= render 'layouts/sociallink' %>
        <%= yield %>
  </main>
  <%= render 'layouts/script_js_front_office' %>
    <script>
      AOS.init({
        duration: 1200,
      });
    </script>
</body>

</html>